body {
  overflow-x: hidden; /* Hide scroll bars */
}

.mainsigndiv,
.mainlogindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  height: 45px;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #0d6efd;
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-primary {
  width: 100%;
  height: 45px;
  color: #fff;
  background-color: #0d6efd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.homecontainer {
  min-height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(236, 216, 216);
}
.profile {
  position: fixed;
  top: 0px;
  margin-right: 1vw;
  width: 20vw;
  min-height: 100vh;
  /* border: 2px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
}
.profilecontainer {
  /* border: 2px solid blue; */
  width: 100%;
}
.profileimage {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20vh;
  /* border: 2px solid yellow; */
}

.profileimage > img {
  width: 30%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  /* border: 2px solid green; */
  transition: all 0.3s ease; /* Adding a transition to all properties over 0.3 seconds with ease timing function */
}
.profiledetails {
  border-radius: 2vh;
  width: 100%;
  min-height: 45vh;
  /* border: 2px solid rgb(38, 0, 128); */
  margin-top: 5vh;
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Navlink {
  font-weight: bold;
  margin-bottom: 1vh;
  font-size: large;
  text-decoration: none;
  color: black;
}

.profilebutton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.profilebutton > button {
  width: 80%;
  background-color: red;
  border-radius: 1vw;
  padding: 1vh;
  font-size: 1.5vw;
  box-sizing: border-box;
}

.todo {
  width: 78vw;
  margin-right: 1vw;
  margin-left: 22vw;
  min-height: 95vh;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.taskinput {
  position: fixed;
  top: 0px;
  left: 20vw;
  background-color: rgb(236, 216, 216);
  z-index: 4;
  width: 80%;
  height: 20vh;
  /* border: 2px solid rgb(60, 0, 128); */
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.taskinput > input[type="text"] {
  width: 40%;
  background-color: white;
  padding: 2vh;
  border-radius: 1.2vw;
  color: black;
  font-size: 1vw;
  font-weight: bold;
  /* border: 2px solid blue; */
}
.taskinput > input[type="date"] {
  padding: 2vh;
  border-radius: 0.8vw;
  background-color: black;
  color: white;
  margin-left: 1vw;
  font-size: 1vw;
}
.taskinput > button {
  width: 10%;

  font-size: 1vw;
  background-color: green;
  color: white;
  padding: 2vh;
  border-radius: 0.8vw;
}
.tasklist {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  width: 100%;
  margin-top: 20vh;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.cardcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1vh;
  /* border: 2px solid blue; */
  background-color: #640d6b;
  color: white;
  padding: 1vh;
  margin: 1vh 1vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 0.4vw;
}

.cardcontainertask {
  flex-wrap: wrap;
  width: 100%;
  /* border: 2px solid green; */
}
.cardcontainertask > input {
  width: 90%;
  background-color: white;
  color: black;
  padding: 1vh;
}
.cardcontainerbutton {
  /* border: 2px solid green; */
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.cardcontainerbutton > button {
  width: 7vw;
  padding: 1vh;
  border-radius: 0.5vw;
  color: white;
  font-size: 1vw;
}
.cardcontainerbutton > button:nth-child(1) {
  background-color: green;
}

.cardcontainerbutton > button:nth-child(2) {
  background-color: red;
}
.loadercontainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  color: black;
  display: flex;
  align-items: center;
  background-color: rgb(236, 216, 216);
}
.loader {
  border: 2px solid green;
  width: 100vw;
  height: 100vh;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
